<div class="d-flex flex-row bd-highlight bg-light  link-group py-1 px-0">
  <div class="mr-auto d-flex">
    <div class="p-2 bd-highlight">
      <span class="title">Active User:</span>
    </div>
  </div>
</div>

<div class="row overflow-hidden">
  <div class="col-md-12 mb-1">
    <form>
      <div class="table-responsive table-fixed">
        <table class="table dataTable">
          <thead>
            <tr>
              <ng-container *ngFor="let header of colomnValueAll">
                <th scope="col">{{header}}</th>
              </ng-container>
            </tr>
          </thead>
          <tbody class="">
            <ng-container *ngFor="let record of ActiveUser; let i = index">
              <tr>
                <ng-container *ngFor="let header of colomnValueAll">
                  <td>
                    <ng-container>
                      {{record[header]}}
                    </ng-container>
                  </td>
                </ng-container>
              </tr>
            </ng-container>
            <ng-container *ngIf="loading">
              <tr *ngFor="let i of [1, 2, 3, 4, 5]">
                <td><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></td>
                <td *ngFor="let header of colomnValueAll">
                  <ngx-skeleton-loader appearance="line"></ngx-skeleton-loader>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </form>
  </div>
</div>