<!-- <div class="modal-wrapper">
    <div class="modal-header">
        <h4 class="modal-title">Select Responsibility Center</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="optionsForm">
            <ng-select [ngClass]="{'is-invalid': resCenter!.invalid && resCenter!.touched}" formControlName="resCenter"
                [items]="centers" [bindLabel]="bindLabel" [bindValue]="bindValue" [multiple]="false"
                [clearable]="false">
            </ng-select>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="changeCenter(resCenter!.value)">Change</button>
        <button type="button" class="btn btn-dark" (click)="activeModal.dismiss()">Close</button>
    </div>
</div> -->



<!-- 
<div class="res-sheet">
  <div class="res-sheet__header">
    <div class="res-sheet__title-wrap">
      <h3 class="res-sheet__title">Select Responsibility Center</h3>
      <p class="res-sheet__subtitle">
        Choose the active responsibility center for this session.
      </p>
    </div>

    <button
      type="button"
      class="res-sheet__close"
      aria-label="Close"
      (click)="activeModal.dismiss()"
    >
      <i class="bi bi-x-lg"></i>
    </button>
  </div>

  <div class="res-sheet__body">
    <form [formGroup]="optionsForm" class="res-sheet__form">
      <label class="res-sheet__label">Responsibility Center</label>

      <ng-select
        class="res-sheet__select"
        [ngClass]="{ 'is-invalid': resCenter!.invalid && resCenter!.touched }"
        formControlName="resCenter"
        [items]="centers"
        [bindLabel]="bindLabel"
        [bindValue]="bindValue"
        [multiple]="false"
        [clearable]="false"
        [searchable]="true"
        placeholder="Select responsibility center"
      >
      </ng-select>
    </form>
  </div>

  <div class="res-sheet__footer">
    <button
      type="button"
      class="res-sheet__btn res-sheet__btn--secondary"
      (click)="activeModal.dismiss()"
    >
      Close
    </button>

    <button
      type="button"
      class="res-sheet__btn res-sheet__btn--primary"
      [disabled]="optionsForm.invalid"
      (click)="changeCenter(resCenter!.value)"
    >
      Change
    </button>
  </div>
</div> -->




<div class="company-sheet">
  <div class="company-sheet__header">
    <div class="company-sheet__title-wrap">
      <h3 class="company-sheet__title">Select Responsibility Center</h3>
      <p class="company-sheet__subtitle">
        Choose the active responsibility center for this session.
      </p>
    </div>

    <button
      type="button"
      class="company-sheet__close"
      aria-label="Close"
      (click)="activeModal.dismiss()"
    >
      <i class="bi bi-x-lg"></i>
    </button>
  </div>

  <div class="company-sheet__body">
    <form [formGroup]="optionsForm" class="company-sheet__form">
      <label class="company-sheet__label">Responsibility Center</label>

      <ng-select
        appendTo="body"
        class="company-sheet__select"
        formControlName="resCenter"
        [items]="centers"
        [bindLabel]="bindLabel"
        [bindValue]="bindValue"
        [multiple]="false"
        [clearable]="false"
        [searchable]="true"
        placeholder="Select responsibility center"
      >
      </ng-select>
    </form>
  </div>

  <div class="company-sheet__footer">
    <button
      type="button"
      class="company-sheet__btn company-sheet__btn--secondary"
      (click)="activeModal.dismiss()"
    >
      Close
    </button>

    <button
      type="button"
      class="company-sheet__btn company-sheet__btn--primary"
      [disabled]="optionsForm.invalid"
      (click)="changeCenter(resCenter!.value)"
    >
      Change
    </button>
  </div>
</div>