<ng-container>
  <app-dynamic-loader [loading]="loading"></app-dynamic-loader>
  <ng-container *ngIf="showPopupLayout">
    <div class="modal-body h-100 p-0" *ngIf="lineReady">
      <div class="d-flex justify-content-between w-100">
        <div class="p-3 left">
          <button class="btn-round" (click)="closeLinePopup.emit()">
            <i class="bi bi-arrow-left"></i>
          </button>
        </div>

        <div class="pt-3 w-100">
          <div class="row">
            <div class="col-8">
              <div class="pt-2">{{ config!.title }} </div>
            </div>
            <div class="col-4 d-flex align-items-center justify-content-end">
              <div class="cursor-pointer px-3 py-0 d-flex align-items-center justify-content-center h-auto"
                style="min-width: 90px">
                <ng-container *ngIf="isBusy; else savedBlock">
                  <i class="bi bi-check2 text-success" style="font-size: 20px"></i>
                  <span>Saving...</span>
                </ng-container>
                <ng-template #savedBlock>
                  <i class="bi bi-check2 text-success" style="font-size: 20px"></i>
                  <span>Saved</span>
                </ng-template>
              </div>
            </div>
          </div>

          <div class="d-flex d-flex-row actions line-section my-3">
            <div class="font-weight-bold my-2 pr-4 border-right">{{ sectionTitle }}</div>

            <div class="p-2" [ngClass]="{ 'btn-disabled': isBusy || viewMode || !config.showCreate }">
              <span class="action-link" (click)="addLine.emit()">
                <i class="bi bi-plus-lg text-success"></i> New
              </span>
            </div>

            <div class="p-2" [ngClass]="{ 'btn-disabled': isBusy || viewMode || !config.showDelete }">
              <span class="action-link" (click)="deleteLine.emit()">
                <i class="bi bi-trash text-success"></i> Delete
              </span>
            </div>

            <div class="p-2" [ngClass]="{ 'btn-disabled': isBusy || !config.showExcelExport }">
              <span class="action-link" (click)="exportLine.emit()">
                <i class="bi bi-file-earmark-excel text-success"></i> Export
              </span>
            </div>

            <div class="p-2" [ngClass]="{ 'btn-disabled': isBusy }">
              <span class="action-link" (click)="refreshLine.emit()">
                <i class="bi bi-arrow-clockwise"></i> Refresh
              </span>
            </div>

            <div *ngFor="let btn of visibleButtons" class="p-2"
              [ngClass]="{ 'btn-disabled': isBusy || btn.isEnable === false }">
              <span class="action-link" (click)="toolbarButtonClick.emit(btn)">
                <i *ngIf="btn.icon" [ngClass]="[btn.icon, 'brand-icon']"></i>
                <span class="ml-1">{{ btn.name }}</span>
              </span>
            </div>
          </div>

          <div class="row" *ngIf="config">
            <div class="col-md-12 mb-3">
              <form [formGroup]="lineFormGroup">
                <div class="excel-table-container">
                  <table class="excel-table">
                    <thead>
                      <tr>
                        <th class="checkbox-col">
                          &nbsp;
                        </th>
                        <th class="checkbox-col">
                          <input type="checkbox" id="line_selectAll" (click)="selectAllLines.emit()" [checked]="checkLineAll" />
                        </th>
                        <th *ngIf="config?.showStatusColumn" class="status-col">Status</th>

                        <ng-container *ngFor="let control of config!.controls">
                          <ng-container *ngIf="!control.hidden">
                            <th [ngClass]="{ 'desc-textbox border-top-transparent': control.isDescription }"
                              appResizableColumn>
                              {{ control.name }}
                            </th>
                          </ng-container>
                        </ng-container>
                      </tr>
                    </thead>

                    <tbody formArrayName="items">
                      <tr *ngFor="let item of items.controls; let i = index" [formGroup]="getLineFormGroup(i)"
                        (mousedown)="selectRowEvent.emit(i)">
                        <td class="line-selector" [ngClass]="{ 'three-dot-selected': selectedRowIndex === i }"
                          (click)="selectRowEvent.emit(i)">
                          <span class="row-indicator"><i class="bi bi-caret-right-fill"></i></span>
                        </td>
                        <td>
                          <input type="checkbox" [id]="'line_record_' + i" (click)="selectLine.emit(i)"
                            [checked]="selectedLines.includes(i)" />
                        </td>

                        <td *ngIf="config?.showStatusColumn" class="status-cell">
                          <ng-container *ngIf="config?.statusField as statusField">
                            <i *ngIf="item.value[statusField]"
                              class="bi bi-exclamation-circle-fill status-icon-returned"></i>
                          </ng-container>
                        </td>

                        <ng-container *ngFor="let control of config!.controls">
                          <ng-container *ngIf="!control.hidden">
                            <td [ngClass]="{ 'text-center': control.type === 4 }">
                              <form-field [control]="control" [formGroup]="getLineFormGroup(i)" [tableView]="true"
                                (changeEvent)="lineChange.emit({ data: $event, rowIndex: i })"
                                (leaveEvent)="lineLeave.emit({ data: $event, control: control, rowIndex: i })" [viewMode]="viewMode || isBusy"
                                [saving]="saving" [rowIndex]="i">
                              </form-field>
                            </td>
                          </ng-container>
                        </ng-container>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>


<ng-container *ngIf="!showPopupLayout">
  <div class="dimension-section my-3" *ngIf="config">

    <div class="d-flex d-flex-row actions line-section my-3">
      <div class="font-weight-bold my-2 pr-4 border-right">{{ sectionTitle }}</div>

      <div class="p-2" [ngClass]="{ 'btn-disabled': isBusy || viewMode || !config.showCreate }">
        <span class="action-link" (click)="addLine.emit()">
          <i class="bi bi-plus-lg text-success"></i> New
        </span>
      </div>

      <div class="p-2" [ngClass]="{ 'btn-disabled': isBusy || viewMode || !config.showDelete }">
        <span class="action-link" (click)="deleteLine.emit()">
          <i class="bi bi-trash text-success"></i> Delete
        </span>
      </div>

      <div class="p-2" [ngClass]="{ 'btn-disabled': isBusy || !config.showExcelExport }">
        <span class="action-link" (click)="exportLine.emit()">
          <i class="bi bi-file-earmark-excel text-success"></i> Export
        </span>
      </div>

      <div class="p-2" [ngClass]="{ 'btn-disabled': isBusy }">
        <span class="action-link" (click)="refreshLine.emit()">
          <i class="bi bi-arrow-clockwise"></i> Refresh
        </span>
      </div>

      <div *ngFor="let btn of visibleButtons" class="p-2"
        [ngClass]="{ 'btn-disabled': isBusy || btn.isEnable === false }">
        <span class="action-link" (click)="toolbarButtonClick.emit(btn)">
          <i *ngIf="btn.icon" [ngClass]="[btn.icon, 'brand-icon']"></i>
          <span class="ml-1">{{ btn.name }}</span>
        </span>
      </div>
    </div>

    <div class="row" *ngIf="config">
      <div class="col-md-12">
        <form [formGroup]="lineFormGroup">
          <div class="excel-table-container">
            <table class="excel-table">
              <thead>
                <tr>
                  <th class="checkbox-col">
                    &nbsp;
                  </th>
                  <th class="checkbox-col">
                    <input type="checkbox" id="line_selectAll" (click)="selectAllLines.emit()" [checked]="checkLineAll" />
                  </th>
                  <th *ngIf="config?.showStatusColumn" class="status-col">Status</th>

                  <ng-container *ngFor="let control of config!.controls">
                    <ng-container *ngIf="!control.hidden">
                      <th [ngClass]="{ 'desc-textbox border-top-transparent': control.isDescription }"
                        appResizableColumn>
                        {{ control.name }}
                      </th>
                    </ng-container>
                  </ng-container>
                </tr>
              </thead>

              <tbody formArrayName="items">
                <tr *ngFor="let item of items.controls; let i = index" [formGroup]="getLineFormGroup(i)"
                  (mousedown)="selectRowEvent.emit(i)">
                  <td class="line-selector" [ngClass]="{ 'three-dot-selected': selectedRowIndex === i }"
                    (click)="selectRowEvent.emit(i)">
                    <span class="row-indicator"><i class="bi bi-caret-right-fill"></i></span>
                  </td>
                  <td>
                    <input type="checkbox" [id]="'line_record_' + i" (click)="selectLine.emit(i)"
                      [checked]="selectedLines.includes(i)" />
                  </td>

                  <td *ngIf="config?.showStatusColumn" class="status-cell">
                    <ng-container *ngIf="config?.statusField as statusField">
                      <i *ngIf="item.value[statusField]" class="bi bi-exclamation-circle-fill status-icon-returned"></i>
                    </ng-container>
                  </td>

                  <ng-container *ngFor="let control of config!.controls">
                    <ng-container *ngIf="!control.hidden">
                      <td [ngClass]="{ 'text-center': control.type === 4 }">
                        <form-field [control]="control" [formGroup]="getLineFormGroup(i)" [tableView]="true"
                          (changeEvent)="lineChange.emit({ data: $event, rowIndex: i })"
                          (leaveEvent)="lineLeave.emit({ data: $event, control: control, rowIndex: i })" [viewMode]="viewMode || isBusy" [saving]="saving"
                          [rowIndex]="i">
                        </form-field>
                      </td>
                    </ng-container>
                  </ng-container>
                </tr>
              </tbody>
            </table>
          </div>
        </form>
      </div>
    </div>

  </div>
</ng-container>
