<!-- Freeze Toggle Button -->
<!-- <div class="d-flex justify-content-end px-3 mb-2">
  <button class="btn btn-outline-primary btn-sm" (click)="toggleFreezeColumn()">
    {{ freezeFirstCol ? 'Unfreeze Column' : 'Freeze Column' }}
  </button>
</div> -->

<!-- Action Toolbar Section -->
<app-actions [config]="actionConfig" [buttons]="config.buttons!" [topbuttons]="config.topbuttons!"
  [headers]="config.headers!" (delete)="deleteItem($event)" (create)="addItem()" (copy)="copyItem($event)"
  (view)="viewItem($event)" (searchData)="searchData($event)" (advanceSearch)="onAdvanceSearch($event)"
  (exportexcel)="Exportexcel()" (refresh)="refreshPage()" (exportpdf)="exportPdf()" (print)="printReport()"
  (buttonClickEvent)="customButtonClick($event)" (toogleInfo)="toogleInfo($event)" (customfilter)="customfilter($event)"
  [isFilter]="isFilter" [filterDropdown]="filterDropdown" (groupOptionChange)="onGroupOptionChange($event)"
  [sortingOption]="sortOption" (sortChange)="onSortChange($event)" [MenuButtons]="MenuButtons"
  [clearAllClickedAct]="clearAllClickedAct" (gridView)="gridView($event)">
</app-actions>



<!-- Main Table Layout -->
<div class="row overflow-hidden">
  <div
    [ngClass]="{'col-lg-12': (!showFactBox || (showFactBox && !showFactBoxDetails)), 'col-lg-9': (showFactBox && showFactBoxDetails)}">

    <!-- Table and Scroll Wrapper -->
    <div class="table-fixed" *ngIf="!isGridInfo">
      <div class="table-responsive Procure-grid" (scroll)="scrollHandler($event)">
        <table class="table">
          <thead class="sticky-top">
            <tr>
              <th class="text-center align-middle column-header sticky-col" style="width: 20px;">
                <input type="checkbox" id="selectAll" (change)="selectAll($event)" [checked]="checkAll" />
              </th>

              <ng-container *ngFor="let header of config.headers">
                <th class="column-header align-middle" [ngClass]="{'text-end': isNumeric(header.prop)}" scope="col"
                  (click)="sortBy(header.prop)" appResizableColumn>

                  <div class="d-flex justify-content-between align-items-center w-100">
                    <span class="text-wrap">
                      {{ header.name }}
                    </span>
                    <!-- Freeze Icon -->
                    <!-- <span class="pin-icon ms-2" title="Freeze Column" (click)="toggleFreezeColumn($event, header.prop)">
                      📌
                    </span> -->
                    <span *ngIf="sortColumn === header.prop" class="ms-2 small">
                      {{ sortDirection === 'asc' ? '▲' : '▼' }}
                    </span>
                  </div>
                </th>
              </ng-container>
            </tr>
          </thead>

          <tbody>
            <ng-container *ngFor="let record of data$ | async; let i = index">
              <!-- <tr (dblclick)="viewItem(record)" [ngClass]="{ 'table-active': record.selected }"> -->
                
              <tr (dblclick)="viewItem(record)" (click)="selectRow(record)"
                [ngClass]="{ 'selected': record.selectedRow }">

                <td class="text-center sticky-col">
                  <input type="checkbox" [id]="'record_' + i" (click)="selectRecord(record)"
                    [checked]="record.selected" />
                </td>

                <ng-container *ngFor="let header of config.headers">
                  <!-- <td [ngClass]="{'text-end': isNumeric(header.prop)}"
                    [title]="header.isObject ? record['@' + header.prop] : record[header.prop]"
                    (click)="selectRow(record)" [ngClass]="{ 'table-active': record.selectedRow }"> -->
                  <td [ngClass]="{
    'text-end': isNumeric(header.prop),
    'table-active': record.selectedRow,
    'freeze': frozenColumns.has(header.prop)
  }" [title]="header.isObject ? record['@' + header.prop] : record[header.prop]" (click)="selectRow(record)">


                    <ng-container *ngIf="isDataTimeData(record[header.prop]) && header.prop != 'Remark'">
                      <ng-container *ngIf="header.isPrimaryLink">
                        <a href="javascript:" class="text-decoration-underline text-success"
                          (click)="editItem(record, header)">
                          {{ record[header.prop] | date:'dd-MMM-yyyy' }}
                        </a>
                      </ng-container>
                      <ng-container *ngIf="!header.isPrimaryLink">
                        {{ record[header.prop] | date:'dd-MMM-yyyy' }}
                      </ng-container>
                    </ng-container>

                    <ng-container *ngIf="isDataTimeData(record[header.prop]) && header.prop == 'Remark'">
                      {{ header.isObject ? record['@' + header.prop] : record[header.prop] }}
                    </ng-container>

                    <ng-container *ngIf="!isDataTimeData(record[header.prop])">
                      <ng-container *ngIf="header.isPrimaryLink">
                        <a href="javascript:" class="text-decoration-none text-success data-link"
                          (click)="editItem(record, header)">
                          {{ header.isObject ? record['@' + header.prop] : record[header.prop] }}
                        </a>
                      </ng-container>
                      <ng-container *ngIf="header.urlProp">
                        <a [href]="record[header.urlProp]" target="_blank">
                          {{ header.isObject ? record['@' + header.prop] : record[header.prop] }}
                        </a>
                      </ng-container>
                      <ng-container *ngIf="!header.isPrimaryLink && !header.urlProp">
                        {{ header.isObject ? record['@' + header.prop] : record[header.prop] }}
                      </ng-container>
                    </ng-container>
                  </td>
                </ng-container>
              </tr>
            </ng-container>

            <ng-container *ngIf="loading">
              <tr *ngFor="let i of [1, 2, 3, 4, 5]">
                <td class="sticky-col"><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></td>
                <td *ngFor="let header of config.headers">
                  <ngx-skeleton-loader appearance="line"></ngx-skeleton-loader>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>


    <div class=" Procure-grid" *ngIf="isGridInfo">
      <div class="data-card-grid">
        <div class="data-card" *ngFor="let record of data$ | async"
          [class.selected]="selectedRow === record[config.idProp!]" (click)="selectRow(record)">
          <!-- Checkbox + 3-dot Menu -->
          <div class="card-controls">
            <input type="checkbox" class="card-checkbox" [(ngModel)]="record.selected" />
            <div class="menu-icon" (click)="record.menuOpen = !record.menuOpen; $event.stopPropagation()">
              <i class="bi bi-three-dots-vertical"></i>
            </div>
            <ul class="menu-dropdown" *ngIf="record.menuOpen">
              <li (click)="viewItem(record)"><i class="bi bi-eye"></i> View</li>
              <li (click)="editItem(record, { prop: '', name: '', linkItemConfigs: [] })">
                <i class="bi bi-pencil"></i> Edit
              </li>
              <li (click)="deleteItem([record])"><i class="bi bi-trash"></i> Delete</li>
            </ul>
          </div>

          <!-- Card Body -->
          <div class="data-card-body">
            <ng-container *ngFor="let header of config.headers">
              <div *ngIf="record[header.prop]" class="data-field">
                <span class="label text-muted small">{{ header.name }}</span><br />
                <span class="value ">
                  {{ record[header.prop] }}
                </span>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>





    <!-- Export Table (hidden) -->
    <table style="display:none;" #epltable>
      <tr>
        <ng-container *ngFor="let header of config.headers">
          <th scope="col">{{header.name}}</th>
        </ng-container>
      </tr>
      <tr *ngFor="let data of allData">
        <td *ngFor="let head of config.headers">
          {{data[head.prop]}}
        </td>
      </tr>
    </table>
  </div>

  <!-- Fact Box Side Panel -->
  <div *ngIf="showFactBox && isShowInfo" class="col-lg-3 px-0">
    <div class="tabs">
      <app-users-activity-logs [documentNo]="selectedRow"
        [headerData]="config.addItemConfig?.headerConfig?.activityLogsTableCaption"
        [lineData]="config.addItemConfig?.lineConfig?.activityLogsTableCaption"></app-users-activity-logs>
    </div>
  </div>

  <div *ngIf="showFactBox && isShowInfo" class="col-lg-3 px-0 d-none">
    <div class="tabs">
      <div class="d-flex">
        <div class="pt-2 bd-highlight tab">
          <span class="p-2 py-3 active">
            <i class="bi bi-info-square"></i> Details
          </span>
        </div>
      </div>
      <div class="w-100 pt-5">
        <!-- <ng-container [ngSwitch]="config.factBoxConfig!.boxType">
          <ng-container *ngSwitchCase="factBoxType.PurchaseRequsition">
             <app-purchase-requisition-fact-box [DocumentNo]="selectedDocumentNo"></app-purchase-requisition-fact-box> 
             <div>DocumentNo : {{selectedRow}} </div>
          </ng-container>
        </ng-container> -->
        <ng-container>
          <div>DocumentNo : {{selectedRow}} </div>
        </ng-container>
      </div>
    </div>
  </div>

  <!-- <div [hidden]="!showFactBox || !showCustomFilter" class="col-lg-3 px-0">
    <app-filter [filterOptions]="filterOptions" (filterChange)="onFilterChange($event)"
      (clearAllClicked)="onFilterClearAll()">
    </app-filter>
  </div> -->

  <div *ngIf="!removeFilter" [hidden]="!showFactBox || !showCustomFilter" class="col-lg-3 px-0">
    <app-filter [filterOptions]="filterOptions" (filterChange)="onFilterChange($event)"
      (clearAllClicked)="onFilterClearAll()">
    </app-filter>
  </div>


</div>