<section class="app-commandbar">
  <div class="command-work">
    <ng-content select="[app-command-work]"></ng-content>
  </div>

  <div class="command-main">
    @for (item of standardActionItems; track item.actionKey) {
      <button
        type="button"
        [class.cmd-primary]="item.actionKey === 'new'"
        [class.cmd]="item.actionKey !== 'new'"
        [disabled]="item.disabled"
        [title]="item.tooltip ?? item.label"
        (click)="runStandardAction(item.actionKey)">
        @if (item.icon) {
          <i [class]="item.icon"></i>
        }
        {{ item.label }}
      </button>
    }

    @if (hasStandardActions && visibleCommands.length) {
      <span class="cmd-divider"></span>
    }

    @for (item of visibleCommands; track item.actionKey + '-' + item.label) {
      <button
        type="button"
        [class.cmd-primary]="item.tone === 'primary' || item.isPrimary"
        [class.cmd]="item.tone !== 'primary' && !item.isPrimary"
        [class.cmd-danger]="item.tone === 'danger'"
        [disabled]="item.disabled"
        [title]="item.tooltip ?? item.label"
        (click)="runCommand(item)"
      >
        @if (item.icon) {
          <i [class]="item.icon"></i>
        }
        {{ item.label }}
        @if (item.trailingIcon) {
          <i [class]="item.trailingIcon"></i>
        }
      </button>
    }
  </div>

  <div class="command-tools">
    <ng-content select="[app-command-tools]"></ng-content>
  </div>
</section>
