:root {
  --ts-space-1: 4px;
  --ts-space-2: 8px;
  --ts-space-3: 12px;
  --ts-space-4: 16px;
  --ts-space-5: 20px;

  --ts-1: 4px;
  --ts-2: 8px;
  --ts-3: 12px;
  --ts-4: 16px;
  --ts-5: 20px;
  --ts-6: 24px;
  --ts-8: 32px;
}
