:root {
  --ts-font: "Segoe UI", "Segoe UI Web", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;

  --ts-text-11: 11px;
  --ts-text-12: 12px;
  --ts-text-13: 13px;
  --ts-text-14: 14px;
  --ts-text-15: 15px;
  --ts-text-18: 18px;
  --ts-text-22: 22px;
}
