<div class="user-dropdown-container" ngbDropdown placement="bottom-right">
  <button type="button" class="user-dropdown-toggle" ngbDropdownToggle>
    <span class="pr-avatar">
      <img *ngIf="profileImageUrl; else toggleInitialsTpl" [src]="profileImageUrl" />
      <ng-template #toggleInitialsTpl>
        <span>{{ initials }}</span>
      </ng-template>
    </span>
  </button>

  <div class="user-dropdown-menu" ngbDropdownMenu>
    <div class="user-dropdown-header">
      <div class="user-dropdown-avatar">
        <img *ngIf="profileImageUrl; else menuInitialsTpl" [src]="profileImageUrl" />
        <ng-template #menuInitialsTpl>
          <span>{{ initials }}</span>
        </ng-template>
      </div>

      <div class="user-dropdown-info">
        <div class="user-dropdown-name">{{ displayName }}</div>
        <div class="user-dropdown-role">{{ displaySubtitle }}</div>
      </div>
    </div>

    <hr class="user-dropdown-divider" />

    <ul class="user-dropdown-list">
      <li>
        <button class="user-dropdown-item" (click)="openProfile()">
          <i class="bi bi-person-circle"></i>
          <span>Profile</span>
        </button>
      </li>

      <li>
        <button class="user-dropdown-item logout" (click)="logOut()">
          <i class="bi bi-box-arrow-right"></i>
          <span>Logout</span>
        </button>
      </li>
    </ul>
  </div>
</div>
