<div class="app-drawer-wrapper">
  <div class="drawer-header" *ngIf="showHeader">

    <!-- Optional Avatar / Icon -->
    <ng-content select="[drawer-avatar]"></ng-content>

    <!-- Title Area -->
    <div class="drawer-summary">
      <div class="drawer-title">
        {{ title }}
      </div>
      <div class="drawer-subtitle" *ngIf="subtitle">
        {{ subtitle }}
      </div>
    </div>

    <!-- Close -->
    <button class="close-btn" (click)="close()">
      <i class="bi bi-x-lg"></i>
    </button>

  </div>

  <!-- BODY -->
  <div class="drawer-body">
    <ng-template #container></ng-template>
  </div>

  <!-- FOOTER -->
  <div class="drawer-footer">
    <button class="btn btn-light" (click)="close()">Cancel</button>
    <button class="btn btn-primary" [disabled]="isLoading" (click)="onSave()">
      <span *ngIf="!isLoading">
        {{ isEditMode ? 'Edit' : 'Save' }}
      </span>
      <span *ngIf="isLoading" class="spinner-border spinner-border-sm"></span>
    </button>
  </div>

</div>
