<div class="user-header">

  <div class="left-section">

    <!-- <div class="avatar">
      <img *ngIf="userData?.image; else initials" [src]="userData.image" />

      <ng-template #initials>
        <span> {{userData?.FirstName.charAt(0)}}{{userData?.LastName.charAt(0)}}</span>
      </ng-template>
    </div> -->

    <!-- <div class="avatar">
      <img *ngIf="profileImageUrl; else initialsTpl" [src]="profileImageUrl" />
      <ng-template #initialsTpl>
        <span>{{ userInitials }}</span>
      </ng-template>
    </div> -->

    <div class="avatar-wrapper" (click)="manageProfileImage()">
      <ng-container *ngIf="isProfileImageLoading; else avatarContent">
        <ngx-skeleton-loader [theme]="{
        width: '72px',
        height: '72px',
        'border-radius': '50%'
      }">
        </ngx-skeleton-loader>
      </ng-container>

      <ng-template #avatarContent>
        <div class="avatar has-image" *ngIf="profileImageUrl; else initialsTpl">
          <img [src]="profileImageUrl" alt="Profile Image" />
        </div>

        <ng-template #initialsTpl>
          <div class="avatar no-image">
            <span>{{ userInitials }}</span>
          </div>
        </ng-template>

        <button type="button" class="camera-btn" title="Manage Profile Image"
          (click)="$event.stopPropagation(); manageProfileImage()">
          <i class="bi bi-camera"></i>
        </button>
      </ng-template>
    </div>

    <div class="user-info">
      <h2> {{ userData?.UserId }}</h2>
      <p class="email"> {{ userData?.Email }}</p>

      <input #profileImageInput type="file" accept="image/png,image/jpeg,image/jpg,image/webp" hidden
        (change)="onProfileImageSelected($event)" />

      <div class="actions">
        <!-- <span (click)="uploadImage()">
          <i class="bi bi-image"></i> Upload Image
        </span>

        <span (click)="manageProfileImage()">
          <i class="bi bi-image"></i> Manage Profile Image
        </span> -->

        <button type="button" class="profile-action-btn" (click)="changePassword()">
          <i class="bi bi-key"></i> Reset password
        </button>

        <button type="button" class="profile-action-btn" (click)="logOut()">
          <i class="bi bi-box-arrow-right"></i> Logout
        </button>
      </div>
    </div>

  </div>

  <!-- RIGHT ICONS -->
  <div class="right-actions">
    <i class="bi bi-arrow-clockwise" (click)="refreshUserProfile()"></i>
    <i class="bi bi-x-lg" (click)="closeDrawer()"></i>
  </div>

</div>




<div class="profile-section">

  <form [formGroup]="headerFormGroup">

    <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs">

      <li *ngFor="let section of headerConfig.sections; let i = index" [ngbNavItem]="i">

        <button ngbNavLink>
          {{ section.title }}
        </button>

        <ng-template ngbNavContent>

          <ng-container *ngFor="let row of section.controls">

            <ng-container *ngFor="let control of row">

              <div class="story-field">

                <form-field [control]="control" [formGroup]="headerFormGroup" [tableView]="false"
                  (changeEvent)="onChange($event)" (leaveEvent)="onLeave($event)">
                </form-field>

              </div>

            </ng-container>

          </ng-container>

        </ng-template>

      </li>

    </ul>

    <div class="profile-tab-panel" [ngbNavOutlet]="nav"></div>


  </form>

</div>
