<app-dynamic-loader [loading]="loader"></app-dynamic-loader>
<div class="container mt-3" *ngIf="isShowUploadButton">
    <div class="d-flex justify-content-between align-items-start p-3">
        <div>
            <h5>File Upload</h5>
        </div>
        <button class="btn btn-sm btn-light" (click)="closeModel()" [disabled]="isLoading">
            <i class="bi bi-x-lg"></i>
        </button>
    </div>
    <form [formGroup]="attachmentForm">
        <div class="line-table mb-3">
            <table class="table">
                <!-- <thead>
                    <tr>
                        <th>Attachment File</th>
                    </tr>
                </thead> -->

                <tbody formArrayName="attachments">
                    <tr *ngFor="let item of fa.controls; let i = index" [formGroupName]="i">
                        <td>
                            <div class="attachment-dropzone mb-3 d-flex flex-column justify-content-center"
                                (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)"
                                (drop)="onDrop($event, i)">

                                <!-- If no file selected -->
                                <div *ngIf="!files[i]?.name">
                                    <span>
                                        Drag & drop files here or
                                        <label class="text-primary mb-0" style="cursor: pointer;">
                                            browse
                                            <input type="file" hidden [accept]="fileAcceptFromats"
                                                (change)="onFileChange($event, i)" />
                                        </label>
                                    </span>
                                </div>

                                <!-- If file is selected -->
                                <div class="file-upload d-flex align-items-center mt-2" *ngIf="files[i]?.name">
                                    <span class="file-name">
                                        {{ files[i]?.name }}
                                    </span>
                                    <span class="ms-1 remove-btn" role="button" (click)="removeGroup(i)">
                                        <i class="bi bi-x"></i>
                                    </span>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <!-- Add new row button -->
                    <!-- <tr>
                        <td colspan="2">
                            <button type="button" (click)="addGroup()" class="btn btn-outline-primary add-btn">
                                <i class="bi bi-plus"></i> Add
                            </button>
                        </td>
                    </tr> -->
                </tbody>
            </table>
        </div>
    </form>

    <!-- Action Buttons -->
    <div class="d-flex justify-content-end my-3">
        <button type="button" class="btn btn-secondary mx-2" (click)="closeModel()" [disabled]="isLoading">
            Close
        </button>

        <button type="button" class="btn btn-primary" (click)="onSubmit()" *ngIf="!isLoading">
            Upload
        </button>

        <button class="btn btn-primary" type="button" disabled *ngIf="isLoading">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Uploading...
        </button>
    </div>

    <!-- Uploaded Documents -->
    <div class="uploaded-documents mt-4"
        *ngIf="itemConfig?.lineConfig?.isShowUploaderFile || itemConfig?.subPopupLineConfig?.isShowUploaderFile">
        <h5>Uploaded Documents</h5>
        <table class="table table-striped table-bordered align-middle" *ngIf="(attachments?.length ?? 0) > 0">
            <thead class="table-light">
                <tr>
                    <th style="width: 40%">File Name</th>
                    <th style="width: 20%" class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let doc of attachments; let i = index">
                    <td>
                        <ng-container [ngSwitch]="doc.FileType">
                            <i *ngSwitchCase="'Word'" class="bi bi-file-earmark-word file-icon word"></i>
                            <i *ngSwitchCase="'Excel'" class="bi bi-file-earmark-spreadsheet file-icon excel"></i>
                            <i *ngSwitchCase="'PDF'" class="bi bi-filetype-pdf file-icon pdf"></i>
                            <i *ngSwitchCase="'Image'" class="bi bi-file-earmark-image file-icon image"></i>
                            <i *ngSwitchDefault class="bi bi-file-earmark-text file-icon"></i>
                        </ng-container>

                        <a [href]="doc.FileUrl" target="_blank">
                            {{ doc?.FileName }}
                        </a>
                    </td>
                    <td class="text-center">
                        <button type="button" class="btn btn-sm btn-outline-primary mx-2"
                            (click)="downloadDocument(doc,i)">
                            <i class="bi bi-download"></i>
                        </button>
                        <button type="button" class="btn btn-sm btn-outline-danger mx-2"
                            (click)="deleteAttachment(doc,i)">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="attachments?.length === 0" class="text-center mb-3">
            No documents uploaded.
        </div>
    </div>
</div>



<div class="container mt-3" *ngIf="!isShowUploadButton">
    <div class="d-flex justify-content-between align-items-start p-3">
        <div>
            <h5>Uploaded Documents</h5>
        </div>
        <button class="btn btn-sm btn-light" (click)="closeModel()" [disabled]="isLoading">
            <i class="bi bi-x-lg"></i>
        </button>
    </div>

    <!-- Uploaded Documents -->
    <div class="uploaded-documents mt-4"
        *ngIf="itemConfig?.lineConfig?.isShowUploaderFile || itemConfig?.subPopupLineConfig?.isShowUploaderFile">

        <table class="table table-striped table-bordered align-middle" *ngIf="(attachments?.length ?? 0) > 0">
            <thead class="table-light">
                <tr>
                    <th style="width: 40%">File Name</th>
                    <th style="width: 20%" class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let doc of attachments; let i = index">
                    <td>
                        <ng-container [ngSwitch]="doc.FileType">
                            <i *ngSwitchCase="'Word'" class="bi bi-file-earmark-word file-icon word"></i>
                            <i *ngSwitchCase="'Excel'" class="bi bi-file-earmark-spreadsheet file-icon excel"></i>
                            <i *ngSwitchCase="'PDF'" class="bi bi-filetype-pdf file-icon pdf"></i>
                            <i *ngSwitchCase="'Image'" class="bi bi-file-earmark-image file-icon image"></i>
                            <i *ngSwitchDefault class="bi bi-file-earmark-text file-icon"></i>
                        </ng-container>

                        <a  (click)="downloadDocument(doc,i)">
                            {{ doc?.FileName }}
                        </a>
                    </td>
                    <td class="text-center">
                        <button type="button" class="btn btn-sm btn-outline-primary mx-2"
                            (click)="downloadDocument(doc,i)">
                            <i class="bi bi-download"></i>
                        </button>
                        <button type="button" class="btn btn-sm btn-outline-danger mx-2" [disabled]="!showLineAttachmentDeletePermission"
                            (click)="deleteAttachment(doc,i)">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="attachments?.length === 0" class="text-center mb-3">
            No documents uploaded.
        </div>
    </div>
</div>