<div class="modal-body h-100 p-0">
    <div class="d-flex justify-content-between w-100">
        <!-- <div class="p-3 left">
            <ngx-skeleton-loader appearance="line"></ngx-skeleton-loader>
        </div> -->
        <div class="p-3 left">
            <button class="btn-round" (click)="closePopup()">
                <i class="bi bi-arrow-left"></i>
            </button>
        </div>
        <div class="pt-3 w-100">
            <div class="d-flex justify-content-between">
                <div class="w-100">
                    <ngx-skeleton-loader appearance="line"></ngx-skeleton-loader>
                </div>
            </div>
            <div class="d-flex d-flex-row">
                <div class="record-title w-100">
                    <ngx-skeleton-loader appearance="line"></ngx-skeleton-loader>
                </div>
            </div>
        </div>
        <div class="right"></div>
    </div>

    <div class="d-flex justify-content-between w-100">
        <div class="left"></div>
        <div style="width: calc(100% - 135px);">
            <div class="d-flex flex-row bd-highlight py-1 px-0 buttons-group">
                <div class="mr-auto d-flex w-100">
                    <div class="p-2 bd-highlight link-item w-100">
                        <ngx-skeleton-loader appearance="line"></ngx-skeleton-loader>
                    </div>
                </div>
                <div class="p-2 bd-highlight link-item">
                    <ngx-skeleton-loader appearance="line"></ngx-skeleton-loader>
                </div>
            </div>

            <div class="d-flex">
                <div class="item-panel pr-3 pt-3 w-100">
                    <div
                        class="d-flex d-flex-row justify-content-between align-items-center pb-1 mb-2 section-title font-weight-bold">
                        <div>
                            <ngx-skeleton-loader appearance="line"></ngx-skeleton-loader>
                        </div>
                        <i class="bi bi-expand-more"></i>
                    </div>

                    <div class="row">
                        <div class="col-12 mb-5 w-100">
                            <div class="row">
                                <div class="col-md-6" *ngFor="let i of [0,1]">
                                    <div class="row">
                                        <div class="col-sm-4 mt-1">
                                            <ngx-skeleton-loader appearance="line"></ngx-skeleton-loader>
                                        </div>
                                        <div class="col-sm-8">
                                            <ngx-skeleton-loader appearance="line"></ngx-skeleton-loader>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex d-flex-row actions line-section mb-2">
                        <div class="font-weight-bold my-2 pr-4 border-right">
                            <ngx-skeleton-loader appearance="line"></ngx-skeleton-loader>
                        </div>
                        <div class="p-2 w-100">
                            <ngx-skeleton-loader appearance="line"></ngx-skeleton-loader>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <div class="line-table mb-3">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="actions fixed border-top-0">
                                                <ngx-skeleton-loader appearance="line"></ngx-skeleton-loader>
                                            </th>
                                            <th *ngFor="let i of [0,1,2]">
                                                <ngx-skeleton-loader appearance="line"></ngx-skeleton-loader>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="fixed">
                                                <ngx-skeleton-loader appearance="line"></ngx-skeleton-loader>
                                            </td>
                                            <td *ngFor="let i of [0,1,2]" class="flex-item">
                                                <ngx-skeleton-loader appearance="line"></ngx-skeleton-loader>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <ngx-skeleton-loader appearance="line"></ngx-skeleton-loader>
                                </div>
                                <div class="col-md-6">
                                    <ngx-skeleton-loader appearance="line"></ngx-skeleton-loader>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Tabs section replaced with skeleton for consistency -->
                <!-- <div class="tabs p-2 px-4">
                    <div class="d-flex">
                        <div class="pt-2 bd-highlight tab">
                            <span class="p-2 py-3">
                                <ngx-skeleton-loader appearance="line"></ngx-skeleton-loader>
                            </span>
                        </div>
                        <div class="pt-2 bd-highlight tab">
                            <span class="p-2 py-3">
                                <ngx-skeleton-loader appearance="line"></ngx-skeleton-loader>
                            </span>
                        </div>
                        <div class="pt-2 bd-highlight tab">
                            <span class="p-2 py-3">
                                <ngx-skeleton-loader appearance="line"></ngx-skeleton-loader>
                            </span>
                        </div>
                    </div>
                    <div class="w-100 pt-4">
                        <ngx-skeleton-loader appearance="line"></ngx-skeleton-loader>
                    </div>
                </div> -->

            </div>
        </div>
        <div class="right"></div>
    </div>
</div>