<div class="manage-profile-image-modal">
  <div class="modal-header">
    <h5 class="modal-title">Manage Profile Image</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="cancel()">
      <i class="bi bi-x"></i>
    </button>
  </div>

  <div class="modal-body">
    <div class="image-preview">
      <ng-container *ngIf="isProfileImageLoading; else imageContent">
        <ngx-skeleton-loader
          [theme]="{
            width: '100px',
            height: '100px',
            'border-radius': '50%'
          }"
        >
        </ngx-skeleton-loader>
      </ng-container>

      <ng-template #imageContent>
        <img
          *ngIf="previewImageUrl || profileImageUrl; else initialsTpl"
          [src]="previewImageUrl || profileImageUrl"
        />

        <ng-template #initialsTpl>
          <div class="initials-avatar">
            {{ (userData?.FirstName?.charAt(0) || 'P') }}{{ (userData?.LastName?.charAt(0) || 'U') }}
          </div>
        </ng-template>
      </ng-template>
    </div>

    <input
      #profileImageInput
      type="file"
      accept="image/png,image/jpeg,image/jpg,image/webp"
      hidden
      (change)="onProfileImageSelected($event)"
    />

    <div class="actions">
      <button
        type="button"
        class="btn btn-outline-primary"
        (click)="chooseImage()"
        [disabled]="isProfileImageLoading || isSaving || isRemoving"
      >
        Change Image
      </button>

      <button
        type="button"
        class="btn btn-outline-danger"
        (click)="removeProfileImage()"
        [disabled]="isProfileImageLoading || isSaving || isRemoving || (!profileImageUrl && !previewImageUrl)"
      >
        Remove
      </button>
    </div>
  </div>
</div>
