<div class="erp-notification-banner" *ngIf="showAsNotification">
    <div class="message">
        <span class="dialog-kicker">Filaz Enterprise</span>
        <span class="dialog-inline-message">{{message}}</span>
    </div>

    <div class="actions">
        <button type="button" class="btn btn-danger mr-2" (click)="confirm()">Yes</button>
        <button type="button" class="btn btn-secondary" (click)="close()">Cancel</button>
    </div>
</div>
<ng-container *ngIf="!showAsNotification">
    <div class="modal-content mt-1 rounded-4 p-4" style="border: none;">
        <div class="modal-body text-center">
            <div class="dialog-kicker dialog-kicker--modal">Filaz Enterprise</div>
            <h4 class="fw-bold mb-3">{{title}}</h4>
            <p class="text-secondary mb-4">
                {{message}}
            </p>
            <div class="d-flex justify-content-center gap-3">
                <button class="btn btn-outline-dark px-4 py-2" (click)="close()">{{noButtonText}}</button>
                <button class="btn btn-danger px-4 py-2 ml-4"
                    (click)="confirm()">{{yesButtonText}}</button>
            </div>
        </div>
    </div>
</ng-container>