<ng-container *ngIf="ready">
  <ng-container [ngSwitch]="control.type">

    <ng-container *ngSwitchCase="fieldType.TextBox">
      <ng-container *ngIf="tableView">
        <input
          autocomplete="off"
          type="text"
          class="form-control-custom m-0 border-0 focus-control"
          [ngClass]="{
            'is-invalid': formControl.invalid && formControl.touched,
            'inputReadonly': control.readonlyHighlight
          }"
          [formControl]="formControl"
          [name]="control.label"
          [autofocus]="control.autofocus!"
          [maxlength]="control.maxlength!"
          [uppercase]="control.textFormat!"
          (click)="changeControl()"
          (keyup)="changeControl()"
          (keydown)="onFieldKeydown($event, 'input')"
          (blur)="leaveControl()"
          [attr.data-nav-row]="_rowIndex"
          [attr.data-nav-control]="control.label"
          data-nav-kind="field"
          [attr.readonly]="control.readonly"
        />
      </ng-container>

      <ng-container *ngIf="!tableView">
        <div class="row field-row">
          <div class="col-sm-4 field-label-col">
            <label [for]="control.label">
              {{ control.name }}:
              <span *ngIf="control.showRequiredSymbol" class="asterisk">*</span>
            </label>
          </div>
          <div class="col-sm-8 field-control-col">
            <input
              autocomplete="off"
              type="text"
              class="form-control-custom"
              [formControl]="formControl"
              [name]="control.label"
              [autofocus]="control.autofocus!"
              [uppercase]="control.textFormat!"
              (click)="changeControl()"
              (keyup)="changeControl()"
              (blur)="leaveControl()"
              [maxlength]="control.maxlength!"
              [attr.readonly]="control.readonly"
              [ngClass]="{ 'inputReadonly': control.readonlyHighlight }"
            />
            <small class="form-text text-danger" *ngIf="formControl.errors && formControl.errors['required']">
              This field is required!
            </small>
            <small class="form-text text-danger" *ngIf="formControl.errors && formControl.errors['unique']">
              {{ control.label }} is already exists!
            </small>
            <small class="form-text text-danger" *ngIf="formControl.errors && formControl.errors['notexists']">
              {{ control.label }} is not exists!
            </small>
          </div>
        </div>
      </ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="fieldType.Password">
      <ng-container *ngIf="tableView">
        <input
          autocomplete="off"
          type="password"
          class="form-control-custom m-0 border-0 focus-control"
          [ngClass]="{ 'is-invalid': formControl.invalid && formControl.touched }"
          [formControl]="formControl"
          [name]="control.label"
          [autofocus]="control.autofocus!"
          [uppercase]="control.textFormat!"
          (click)="changeControl()"
          (keyup)="changeControl()"
          (keydown)="onFieldKeydown($event, 'input')"
          (blur)="leaveControl()"
          [attr.data-nav-row]="_rowIndex"
          [attr.data-nav-control]="control.label"
          data-nav-kind="field"
          [attr.readonly]="control.readonly"
        />
      </ng-container>

      <ng-container *ngIf="!tableView">
        <div class="row field-row">
          <div class="col-sm-4 field-label-col">
            <label [for]="control.label">
              {{ control.name }}:
              <span *ngIf="control.showRequiredSymbol" class="asterisk">*</span>
            </label>
          </div>
          <div class="col-sm-8 field-control-col">
            <input
              autocomplete="off"
              type="password"
              class="form-control-custom"
              [formControl]="formControl"
              [name]="control.label"
              [autofocus]="control.autofocus!"
              [uppercase]="control.textFormat!"
              (click)="changeControl()"
              (keyup)="changeControl()"
              (blur)="leaveControl()"
              [attr.readonly]="control.readonly"
            />
            <small class="form-text text-danger" *ngIf="formControl.errors && formControl.errors['required']">
              This field is required!
            </small>
          </div>
        </div>
      </ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="fieldType.TextArea">
      <ng-container *ngIf="tableView">
        <textarea
          class="form-control-custom m-0 border-0 focus-control"
          [ngClass]="{ 'is-invalid': formControl.invalid && formControl.touched }"
          [formControl]="formControl"
          rows="2"
          [name]="control.label"
          [autofocus]="control.autofocus!"
          (click)="changeControl()"
          (keyup)="changeControl()"
          (keydown)="onFieldKeydown($event, 'input')"
          (blur)="leaveControl()"
          [attr.data-nav-row]="_rowIndex"
          [attr.data-nav-control]="control.label"
          data-nav-kind="field"
          [attr.readonly]="control.readonly"
        ></textarea>
      </ng-container>

      <ng-container *ngIf="!tableView">
        <div class="row field-row field-row-textarea">
          <div class="col-sm-4 field-label-col field-label-col-top">
            <label [for]="control.label">
              {{ control.name }}:
              <span *ngIf="control.showRequiredSymbol" class="asterisk">*</span>
            </label>
          </div>
          <div class="col-sm-8 field-control-col">
            <textarea
              class="form-control-custom form-control-textarea"
              [formControl]="formControl"
              rows="2"
              [name]="control.label"
              [autofocus]="control.autofocus!"
              (click)="changeControl()"
              (keyup)="changeControl()"
              (blur)="leaveControl()"
              [attr.readonly]="control.readonly"
            ></textarea>
            <small class="form-text text-danger" *ngIf="formControl.errors && formControl.errors['required']">
              This field is required!
            </small>
          </div>
        </div>
      </ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="fieldType.Number">
      <ng-container *ngIf="tableView">
        <input
          autocomplete="off"
          *ngIf="control.label == 'ctr'"
          type="text"
          class="form-control-custom m-0 border-0 focus-control"
          [ngClass]="{ 'is-invalid': formControl.invalid && formControl.touched }"
          pattern="[0-9.]*"
          [formControl]="formControl"
          [name]="control.label"
          [autofocus]="control.autofocus!"
          (keyup)="changeControl()"
          (click)="changeControl()"
          (keydown)="onFieldKeydown($event, 'input')"
          (blur)="leaveControl()"
          [attr.data-nav-row]="_rowIndex"
          [attr.data-nav-control]="control.label"
          data-nav-kind="field"
          [maxlength]="control.maxlength!"
          inputmode="numeric"
          digitOnly
          [decimal]="control.decimal!"
          [attr.readonly]="control.readonly"
          style="width: 100px"
        />

        <input
          autocomplete="off"
          *ngIf="control.label != 'ctr'"
          type="text"
          class="form-control-custom m-0 border-0 focus-control"
          [ngClass]="{ 'is-invalid': formControl.invalid && formControl.touched }"
          pattern="[0-9.]*"
          [formControl]="formControl"
          [name]="control.label"
          [autofocus]="control.autofocus!"
          (keyup)="changeControl()"
          (click)="changeControl()"
          (keydown)="onFieldKeydown($event, 'input')"
          (blur)="leaveControl()"
          [attr.data-nav-row]="_rowIndex"
          [attr.data-nav-control]="control.label"
          data-nav-kind="field"
          [maxlength]="control.maxlength!"
          inputmode="numeric"
          digitOnly
          [decimal]="control.decimal!"
          [attr.readonly]="control.readonly"
        />
      </ng-container>

      <ng-container *ngIf="!tableView">
        <div class="row field-row">
          <div class="col-sm-4 field-label-col">
            <label [for]="control.label">
              {{ control.name }}:
              <span *ngIf="control.showRequiredSymbol" class="asterisk">*</span>
            </label>
          </div>
          <div class="col-sm-8 field-control-col">
            <input
              autocomplete="off"
              type="text"
              class="form-control-custom"
              pattern="[0-9.]*"
              [formControl]="formControl"
              [name]="control.label"
              [autofocus]="control.autofocus!"
              (click)="changeControl()"
              (keyup)="changeControl()"
              (blur)="leaveControl()"
              [maxlength]="control.maxlength!"
              inputmode="numeric"
              digitOnly
              [decimal]="control.decimal!"
              [attr.readonly]="control.readonly"
            />
            <small class="form-text text-danger" *ngIf="formControl.errors && formControl.errors['required']">
              This field is required!
            </small>
            <small class="form-text text-danger" *ngIf="formControl.errors && formControl.errors['unique']">
              {{ control.name }} is already exists!
            </small>
            <small class="form-text text-danger" *ngIf="formControl.errors && formControl.errors['notexists']">
              {{ control.label }} is not exists!
            </small>
          </div>
        </div>
      </ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="fieldType.Email">
      <ng-container *ngIf="tableView">
        <input
          autocomplete="off"
          type="email"
          class="form-control-custom m-0 focus-control"
          [ngClass]="{ 'is-invalid': formControl.invalid && formControl.touched }"
          [formControl]="formControl"
          [name]="control.label"
          [autofocus]="control.autofocus!"
          (click)="changeControl()"
          (keyup)="changeControl()"
          (keydown)="onFieldKeydown($event, 'input')"
          (blur)="leaveControl()"
          [attr.data-nav-row]="_rowIndex"
          [attr.data-nav-control]="control.label"
          data-nav-kind="field"
          [attr.readonly]="control.readonly"
        />
      </ng-container>

      <ng-container *ngIf="!tableView">
        <div class="row field-row">
          <div class="col-sm-4 field-label-col">
            <label [for]="control.label">
              {{ control.name }}:
              <span *ngIf="control.showRequiredSymbol" class="asterisk">*</span>
            </label>
          </div>
          <div class="col-sm-8 field-control-col">
            <input
              autocomplete="off"
              type="email"
              class="form-control-custom"
              [formControl]="formControl"
              [name]="control.label"
              [autofocus]="control.autofocus!"
              (click)="changeControl()"
              (keyup)="changeControl()"
              (blur)="leaveControl()"
              [attr.readonly]="control.readonly"
            />
            <small class="form-text text-danger" *ngIf="formControl.errors && formControl.errors['required']">
              This field is required!
            </small>
            <small class="form-text text-danger" *ngIf="formControl.errors && formControl.errors['email']">
              Invalid Email!
            </small>
          </div>
        </div>
      </ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="fieldType.PhoneNumber">
      <ng-container *ngIf="tableView">
        <input
          autocomplete="off"
          type="email"
          class="form-control-custom m-0 border-0 focus-control"
          [ngClass]="{ 'is-invalid': formControl.invalid && formControl.touched }"
          [formControl]="formControl"
          [name]="control.label"
          [autofocus]="control.autofocus!"
          (click)="changeControl()"
          (keyup)="changeControl()"
          (keydown)="onFieldKeydown($event, 'input')"
          (blur)="leaveControl()"
          [attr.data-nav-row]="_rowIndex"
          [attr.data-nav-control]="control.label"
          data-nav-kind="field"
          [attr.readonly]="control.readonly"
        />
      </ng-container>

      <ng-container *ngIf="!tableView">
        <div class="row field-row">
          <div class="col-sm-4 field-label-col">
            <label [for]="control.label">
              {{ control.name }}:
              <span *ngIf="control.showRequiredSymbol" class="asterisk">*</span>
            </label>
          </div>
          <div class="col-sm-8 field-control-col">
            <input
              autocomplete="off"
              type="email"
              class="form-control-custom"
              [formControl]="formControl"
              [name]="control.label"
              [autofocus]="control.autofocus!"
              (click)="changeControl()"
              (keyup)="changeControl()"
              (blur)="leaveControl()"
              [attr.readonly]="control.readonly"
            />
            <small class="form-text text-danger" *ngIf="formControl.errors && formControl.errors['required']">
              This field is required!
            </small>
          </div>
        </div>
      </ng-container>
    </ng-container>

   <ng-container *ngSwitchCase="fieldType.DropDown">
  <ng-container *ngIf="tableView">
    <ng-select
    #lookupSelect
      appendTo="body"
      dropdownPosition="auto"
      [id]="control.label + '_' + rowIndex"
      class="border-0 procure-select procure-select-table"
      [ngClass]="{
        'is-invalid': formControl.invalid && formControl.touched,
        'read-only': control.readonly
      }"
      [formControl]="formControl"
      [items]="items"
      [bindLabel]="control.bindLabel!"
      [bindValue]="control.bindValue!"
      [multiple]="control.mutiple!"
      (change)="changeDropdown($event)"
      (search)="onDropdownSearch($event)"
      (keydown)="onFieldKeydown($event, 'dropdown')"
      (open)="onDropdownOpen()"
      (close)="onDropdownClose()"
      [attr.data-nav-row]="_rowIndex"
      [attr.data-nav-control]="control.label"
      data-nav-kind="field"
      [clearable]="false"
    >
      <ng-template ng-footer-tmp *ngIf="canShowLookupDropdownActions()">
        <div class="lookup-footer-actions">
          <button
            *ngIf="canShowLookupCreateAction()"
            type="button"
            class="lookup-create-action"
            [title]="getLookupCreateLabel()"
            [attr.aria-label]="getLookupCreateLabel()"
            (mousedown)="$event.preventDefault()"
            (click)="openLookupCreatePopup()">
            <i class="bi bi-plus-lg"></i>
            <span>{{ getLookupCreateLabel() }}</span>
          </button>

          <button
            *ngIf="canShowLookupDetailsAction()"
            type="button"
            class="lookup-secondary-action"
            title="Show details"
            aria-label="Show details"
            (mousedown)="$event.preventDefault()"
            (click)="openLookupDetailsPopup()">
            <i class="bi bi-eye"></i>
            <span>Show details</span>
          </button>

          <button
            *ngIf="canShowLookupAssistAction()"
            type="button"
            class="lookup-secondary-action"
            title="Select from full list"
            aria-label="Select from full list"
            (mousedown)="$event.preventDefault()"
            (click)="openLookupListModal()">
            <i class="bi bi-list-ul"></i>
            <span>Select from full list</span>
          </button>
        </div>
      </ng-template>
    </ng-select>
  </ng-container>

  <ng-container *ngIf="!tableView">
    <div class="row field-row">
      <div class="col-sm-4 field-label-col">
        <label [for]="control.label">
          {{ control.name }}:
          <span *ngIf="control.showRequiredSymbol" class="asterisk">*</span>
        </label>
      </div>

      <div class="col-sm-8 field-control-col">
        <div class="input-group field-input-group">
          <div class="dropdown field-dropdown-wrap">
            <ng-select
            #lookupSelect
              appendTo="body"
              dropdownPosition="auto"
              [id]="control.label + '_' + rowIndex"
              class="procure-select"
              [formControl]="formControl"
              [items]="items"
              [bindLabel]="control.bindLabel!"
              [bindValue]="control.bindValue!"
              [multiple]="control.mutiple!"
              (change)="changeDropdown($event)"
              (search)="onDropdownSearch($event)"
              [clearable]="true"
              (clear)="clearDropdown()"
              (open)="onDropdownOpen()"
              (close)="onDropdownClose()"
              [ngClass]="{
                'read-only': control.readonly,
                'is-invalid': formControl.invalid && formControl.touched
              }"
            >
              <ng-template ng-footer-tmp *ngIf="canShowLookupDropdownActions()">
                <div class="lookup-footer-actions">
                  <button
                    *ngIf="canShowLookupCreateAction()"
                    type="button"
                    class="lookup-create-action"
                    [title]="getLookupCreateLabel()"
                    [attr.aria-label]="getLookupCreateLabel()"
                    (mousedown)="$event.preventDefault()"
                    (click)="openLookupCreatePopup()">
                    <i class="bi bi-plus-lg"></i>
                    <span>{{ getLookupCreateLabel() }}</span>
                  </button>

                  <button
                    *ngIf="canShowLookupDetailsAction()"
                    type="button"
                    class="lookup-secondary-action"
                    title="Show details"
                    aria-label="Show details"
                    (mousedown)="$event.preventDefault()"
                    (click)="openLookupDetailsPopup()">
                    <i class="bi bi-eye"></i>
                    <span>Show details</span>
                  </button>

                  <button
                    *ngIf="canShowLookupAssistAction()"
                    type="button"
                    class="lookup-secondary-action"
                    title="Select from full list"
                    aria-label="Select from full list"
                    (mousedown)="$event.preventDefault()"
                    (click)="openLookupListModal()">
                    <i class="bi bi-list-ul"></i>
                    <span>Select from full list</span>
                  </button>
                </div>
              </ng-template>
            </ng-select>
          </div>

          <div class="input-group-append" *ngIf="canShowLookupAssistAction()">
            <button
              class="btn btn-lookup-assist"
              (click)="openLookupListModal()"
              type="button"
              [disabled]="control.disabled || control.readonly"
              title="Open master lookup"
              [attr.aria-label]="'Lookup'"
            >
              <i class="bi bi-search lookup-assist-icon" aria-hidden="true"></i>
            </button>
          </div>
        </div>

        <small class="form-text text-danger" *ngIf="formControl.errors && formControl.errors['required']">
          This field is required!
        </small>
      </div>
    </div>
  </ng-container>
</ng-container>

    <ng-template #lookupListModal let-modal>
      <div class="modal-header">
        <h5 class="modal-title">{{ control.name }} Lookup</h5>
        <button type="button" class="close" aria-label="Close" (click)="closeLookupListModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input
          type="text"
          class="form-control mb-2"
          placeholder="Search..."
          [(ngModel)]="lookupListSearchTerm"
        />

        <div class="lookup-list-items">
          <button
            type="button"
            class="lookup-list-item"
            *ngFor="let item of getLookupListItems()"
            (click)="selectLookupListItem(item)">
            {{ getLookupDisplayText(item) }}
          </button>
        </div>
      </div>
      <div class="modal-footer lookup-modal-footer">
        <button type="button" class="btn lookup-modal-close-action" (click)="closeLookupListModal()">Close</button>
        <button
          *ngIf="canShowLookupDetailsAction()"
          type="button"
          class="btn lookup-modal-secondary-action"
          (click)="openLookupDetailsPopup()">
          Show details
        </button>
        <button
          *ngIf="canShowLookupCreateAction()"
          type="button"
          class="btn lookup-modal-create-action"
          (click)="openLookupCreatePopup()">
          {{ getLookupCreateLabel() }}
        </button>
      </div>
    </ng-template>

    <ng-container *ngSwitchCase="fieldType.DateTime">
      <ng-container *ngIf="tableView">
        <div class="input-group mt-0 flex-wrap-unset" style="min-width: 150px;">
          <input
            autocomplete="off"
            class="form-control-date border-0 focus-control"
            [formControl]="formControl"
            [ngClass]="{ 'is-invalid': formControl.invalid && formControl.touched }"
            name="dp"
            ngbDatepicker
            #d3="ngbDatepicker"
            container="body"
            placement="auto"
            (keydown)="onFieldKeydown($event, 'input')"
            [attr.data-nav-row]="_rowIndex"
            [attr.data-nav-control]="control.label"
            data-nav-kind="field"
            (dateSelect)="onDateSelect()"
          />
          <div class="input-group-append rounded-0">
            <button
              class="btn btn-outline-secondary calendar date-button rounded-0"
              (click)="d3.toggle()"
              type="button"
              [disabled]="formControl.disabled"
            >
              <i class="bi bi-calendar3"></i>
            </button>
          </div>
        </div>

        <ng-template #footerTemplate>
          <hr class="my-0" />
          <button class="btn btn-primary btn-sm m-2 float-left" (click)="d3.close()">Today</button>
          <button class="btn btn-secondary btn-sm m-2 float-right" (click)="d3.close()">Close</button>
        </ng-template>
      </ng-container>

      <ng-container *ngIf="!tableView">
        <div class="row field-row">
          <div class="col-sm-4 field-label-col">
            <label [for]="control.label">
              {{ control.name }}:
              <span *ngIf="control.showRequiredSymbol" class="asterisk">*</span>
            </label>
          </div>
          <div class="col-sm-8 field-control-col">
            <div class="input-group field-input-group justify-content-end flex-nowrap" style="min-width: 150px;">
              <input
                autocomplete="off"
                class="form-control-date"
                [formControl]="formControl"
                name="dp"
                ngbDatepicker
                #d3="ngbDatepicker"
                container="body"
                placement="auto"
                (dateSelect)="onDateSelect()"
              />
              <div class="input-group-append mx-0">
                <button
                  class="btn btn-outline-secondary calendar date-button rounded-0 mx-0"
                  (click)="d3.toggle()"
                  type="button"
                  [disabled]="formControl.disabled"
                >
                  <i class="bi bi-calendar3"></i>
                </button>
              </div>
            </div>

            <ng-template #footerTemplate>
              <hr class="my-0" />
              <button class="btn btn-primary btn-sm m-2 float-left" (click)="d3.close()">Today</button>
              <button class="btn btn-secondary btn-sm m-2 float-right" (click)="d3.close()">Close</button>
            </ng-template>
          </div>
        </div>
      </ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="fieldType.Checkbox">
      <ng-container *ngIf="tableView">
        <div class="position-relative form-check">
          <input
            autocomplete="off"
            class="form-check-input"
            type="checkbox"
            [name]="control.name"
            [formControl]="formControl"
            [value]="control.label"
            [autofocus]="control.autofocus!"
            (keydown)="onFieldKeydown($event, 'checkbox')"
            (change)="changeControl(); leaveControl()"
            [attr.data-nav-row]="_rowIndex"
            [attr.data-nav-control]="control.label"
            data-nav-kind="field"
            [ngClass]="{ 'read-only': control.readonly }"
          />
        </div>
      </ng-container>

      <ng-container *ngIf="!tableView">
        <div class="row field-row field-row-checkbox">
          <div class="col-sm-4 field-label-col">
            <label>{{ control.name }}:</label>
          </div>
          <div class="col-sm-8 field-control-col">
            <div class="input-group field-input-group field-checkbox-wrap">
              <input
                autocomplete="off"
                class="form-check-input"
                type="checkbox"
                [name]="control.name"
                [formControl]="formControl"
                [value]="control.label"
                [autofocus]="control.autofocus!"
                (change)="changeControl(); leaveControl()"
                [ngClass]="{ 'read-only': control.readonly }"
              />
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="fieldType.ImageUpload">
      <div class="row field-row field-row-top">
        <div class="col-sm-4 field-label-col field-label-col-top">
          <label style="color: black" [for]="control.label">{{ control.name }}:</label>
        </div>
        <div class="col-sm-8 field-control-col">
          <label class="image-upload" title="Click here to Upload Image">
            <img *ngIf="imageSource" [src]="imageSource" style="max-width: 400px;">
            <input
              [id]="control.label"
              hidden
              type="file"
              [accept]="control.fileAcceptFromats"
              (change)="onImageSelection($event)"
            >
          </label>
          <small class="form-text text-danger" *ngIf="formControl.errors && formControl.errors['required']">
            This field is required!
          </small>
        </div>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="fieldType.FileUpload">
      <div class="file-upload">
        <span class="text-primary" style="cursor: pointer;" (click)="OpenLineAttachment()">
          Upload Documents
        </span>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="fieldType.booleanIcon">
      <ng-container *ngIf="tableView">
        <div class="position-relative form-check">
          <div class="boolean-icon-table">
            <i *ngIf="formControl.value" class="bi bi-check-circle text-success boolean-icon"></i>
            <i *ngIf="!formControl.value" class="bi bi-x-circle text-danger boolean-icon"></i>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="!tableView">
        <div class="row field-row field-row-checkbox">
          <div class="col-sm-4 field-label-col">
            <label>{{ control.name }}:</label>
          </div>
          <div class="col-sm-8 field-control-col">
            <div class="boolean-icon-form">
              <i *ngIf="formControl.value" class="bi bi-check-circle text-success boolean-icon"></i>
              <i *ngIf="!formControl.value" class="bi bi-x-circle text-danger boolean-icon"></i>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="fieldType.Radio">
      <div class="row field-row field-row-radio">
        <div class="col-sm-4 field-label-col">
          <label class="fw-semibold">{{ control.name }}:</label>
        </div>
        <div class="col-sm-8 field-control-col">
          <div class="d-flex align-items-center flex-wrap gap-3">
            <div class="form-check form-check-inline" *ngFor="let option of control.items">
              <input
                type="radio"
                class="form-check-input"
                [name]="control.label || ''"
                [value]="getValue(option, control.bindValue)"
                [formControl]="formControl"
                (change)="changeControl()"
              />
              <label class="form-check-label ms-1">
                {{ getValue(option, control.bindLabel) }}
              </label>
            </div>
          </div>
          <small class="form-text text-danger" *ngIf="formControl.errors?.['required']">
            This field is required!
          </small>
        </div>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="fieldType.Action">
      <ng-container *ngIf="tableView">
        <div class="action-field-table">
          <span
            *ngIf="control.actionStyle === 'link'"
            class="action-link text-primary"
            [ngClass]="control.actionClass"
            (click)="onActionClick()"
          >
            <i *ngIf="control.actionIcon" [class]="control.actionIcon"></i>
            {{ control.name }}
          </span>

          <button
            *ngIf="control.actionStyle === 'button'"
            type="button"
            class="btn btn-sm btn-outline-primary"
            [ngClass]="control.actionClass"
            (click)="onActionClick()"
          >
            <i *ngIf="control.actionIcon" [class]="control.actionIcon"></i>
            {{ control.name }}
          </button>

          <i
            *ngIf="control.actionStyle === 'icon'"
            [class]="control.actionIcon || ''"
            class="cursor-pointer"
            [ngClass]="control.actionClass"
            (click)="onActionClick()"
          ></i>
        </div>
      </ng-container>

      <ng-container *ngIf="!tableView">
        <div class="row field-row field-row-checkbox">
          <div class="col-sm-4 field-label-col">
            <label>{{ control.name }}:</label>
             <span *ngIf="control.showRequiredSymbol" class="asterisk">*</span>
          </div>
          <div class="col-sm-8 field-control-col">
            <span
              *ngIf="control.actionStyle === 'link'"
              class="text-primary cursor-pointer"
              [ngClass]="control.actionClass"
              (click)="onActionClick()"
            >
              <i *ngIf="control.actionIcon" [class]="control.actionIcon"></i>
              {{ control.name }}
            </span>

            <button
              *ngIf="control.actionStyle === 'button'"
              type="button"
              class="btn btn-outline-primary"
              [ngClass]="control.actionClass"
              (click)="onActionClick()"
            >
              <i *ngIf="control.actionIcon" [class]="control.actionIcon"></i>
              {{ control.name }}
            </button>

            <i
              *ngIf="control.actionStyle === 'icon'"
              [class]="control.actionIcon || ''"
              class="cursor-pointer"
              [ngClass]="control.actionClass"
              (click)="onActionClick()"
            ></i>
          </div>
        </div>
      </ng-container>
    </ng-container>

  </ng-container>
</ng-container>

<ng-container *ngIf="!ready">
  <ng-container *ngIf="tableView">
    <div class="dummy-control">
      <ngx-skeleton-loader appearance="line"></ngx-skeleton-loader>
    </div>
  </ng-container>

  <ng-container *ngIf="!tableView">
    <div class="row field-row">
      <div class="col-sm-4 field-label-col">
        <label style="color: black" [for]="control.label">{{ control.name }}:</label>
      </div>
      <div class="col-sm-8 field-control-col">
        <div class="dummy-control">
          <ngx-skeleton-loader appearance="line"></ngx-skeleton-loader>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>