.actions {
    border-top: 0.5px solid #ccc;
    border-bottom: 0.5px solid #ccc;

    .action-link:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

.line-table {
    overflow-x: auto !important;
    height: calc(100vh - 280px);

    table {
        margin-bottom: 140px;

        thead {
            th.actions {
                min-width: 20px;
            }
        }

        thead th {
            position: sticky !important;
            top: 0 !important;
            background-color: white !important;
            z-index: 1 !important;
            // border: 0.5px solid #ccc;
            font-weight: unset;
        }

        th.fixed {
            font-weight: unset;
            z-index: 2 !important;
            left: 0 !important;
            text-align: center;
        }

        td.fixed {
            position: sticky !important;
            left: 0 !important;
            background-color: white !important;
            text-align: center;
        }

        tbody th,
        tbody td {
            padding: 0 !important;
            border: 0.5px solid #ccc;
        }
    }
}

.date-field {
    width: 140px;
}