<div class="modal-header">
  <h4 class="modal-title">Purchase Options</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="optionsForm">
    <div style="padding-left: 10rem; padding-right: 10rem;">
      <div class="custom-radio custom-control mb-2">
        <input type="radio" id="sale" class="custom-control-input" value="rcpt" formControlName="option">
        <label for="sale" class="custom-control-label">Receipt</label>
      </div>
      <div class="custom-radio custom-control mb-2">
        <input type="radio" id="ship" class="custom-control-input" value="invc" formControlName="option">
        <label for="ship" class="custom-control-label">Invoice</label>
      </div>
      <!-- <div class="custom-radio custom-control mb-2">
            <input type="radio" id="shipreceipt" class="custom-control-input" value="receiptinvoice" [formControl]="option">
            <label for="shipreceipt" class="custom-control-label">Receipt & Invoice</label>
          </div> -->

    </div>
  </form>
</div>
<!-- <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="close()">OK</button>
    <button type="button" class="btn btn-dark" (click)="activeModal.dismiss()">Close</button>
  </div> -->
<div class="modal-footer">
  <button type="button" class="btn btn-success" (click)="activeModal.close(option!.value)">Ok</button>
  <button type="button" class="btn btn-dark" (click)="activeModal.dismiss()">Close</button>
</div>