<div class="modal-header">
  <h4 class="modal-title">Change Password</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-12 mb-3">
      <div class="card">
        <div class="card-body">
          <form [formGroup]="changePasswordForm">
            <div class="row mb-3">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="oldPassword">Old Password</label>
                  <input type="password" class="form-control" formControlName="oldPassword" [autofocus]="true"
                    name="oldPassword" autocomplete="off" />
                  <small class="form-text text-danger" *ngIf="oldPassword!.errors && oldPassword!.errors['required']">This
                    field is required!</small>
                  <small class="form-text text-danger"
                    *ngIf="oldPassword!.errors && oldPassword!.errors['invalidpassword']">Incorrect Password!</small>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="newPassword">New Password</label>
                  <input type="password" class="form-control" formControlName="newPassword" name="newPassword"
                    autocomplete="off" />
                  <small class="form-text text-danger" *ngIf="newPassword!.errors && newPassword!.errors['required']">This
                    field is required!</small>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="confirmNewPassword">Confirm New Password</label>
                  <input type="password" class="form-control" formControlName="confirmNewPassword"
                    name="confirmNewPassword" autocomplete="off" />
                  <small class="form-text text-danger"
                    *ngIf="confirmNewPassword!.errors && confirmNewPassword!.errors['required']">This
                    field is required!</small>
                  <small class="form-text text-danger" *ngIf="confirmNewPassword!.errors!['notmatch']">Confirm
                    password should match with new password</small>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" (click)="changePassword()">Change</button>
  <button type="button" class="btn btn-dark" (click)="activeModal.dismiss()">Close</button>
</div>
